.skills__container {
    grid-template-columns: repeat(2, 350px);
    column-gap: 3rem;
    justify-content: center;
}

.skills__content {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.skills__title {
    font-size: var(--normal-font-siize);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills__box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__group {
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills__data {
    display: flex;
    column-gap: 0.5rem;
}

.skills .bx-badge-check {
    font-size: 1rem;
    color: var(--title-color);
}

/* BREAKPOINTS */
/* For large devices */
@media screen and (max-width: 992px) {
    /* .qualification__container {
        margin-left: auto;
        margin-right: auto;
    } */

    .skills__container {
    grid-template-columns: repeat(3, 218px);
    }

}

/* For medium devices */
@media screen and (max-width: 768px) {
    /* .qualification__container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    } */
        .skills__container {
            grid-template-columns: repeat(2, 1fr);
        }
    
        .skills__content {
            padding: 3.5rem 0.5rem 1.25rem 1.5rem;
        }
    
        .skills .bx-badge-check {
            font-size: 1.5rem;
        }
    
}

@media screen and (max-width: 576px) {
    /* .qualification__sections {
        grid-template-columns: initial;
    }

    .qualification__button {
        margin: 0 var(--mb-0-75);
    } */
        /* .skills__content {
            padding: 4.5rem 1.5rem 2.5rem;
        }
     */
        .skills__content {
            padding-right: 6rem;
        }

        .skills__data{
            padding: 0;
        }
}

/* For small devices */
@media screen and (max-width: 350px) {
    /* .qualification__data {
        gap: 0.5rem;
    } */
        .skills__container {
            grid-template-columns: max-content;
        }
    
        .skills__content {
            padding-right: 6rem;
        }
}